#!/bin/bash

{{ ansible_managed | comment }}

{{ pg_cert_pull_pre_script }}

global_exit=0

{% for c in pg_cert_pull %}
# {{ c.name }}
{% set public_path = c.cert_path | default(pg_cert_default_cert_path + '/' + c.name + '.crt') %}
{% set private_path = c.key_path | default(pg_cert_default_key_path + '/' + c.name + '.key') %}
{% set chain_path = c.chain_path | default(false) %}
/usr/local/bin/pg-cert-pull \
    --config "{{ pg_cert_config_path }}/config.conf" \
    --name "{{ c.name }}" \
{% if chain_path %}
    --chain "{{ chain_path }}" \
{% endif %}
    --public-key "{{ public_path }}" \
    --private-key "{{ private_path }}"
tmp_exit=$?
global_exit=$(( tmp_exit > global_exit ? tmp_exit : global_exit ))

if [[ $tmp_exit -eq 0 ]]; then
    chown "{{ c.owner | default(pg_cert_default_owner) }}":"{{ c.group | default(pg_cert_default_group) }}" "{{ public_path }}" "{{ private_path }}"
    chmod {{ c.public_mode | default('0644') }} "{{ public_path }}"
    chmod {{ c.private_mode | default('0640') }} "{{ private_path }}"
    {% if chain_path %}
    chown "{{ c.owner | default(pg_cert_default_owner) }}":"{{ c.group | default(pg_cert_default_group) }}" "{{ chain_path }}"
    chmod {{ c.chain_mode | default('0644') }} "{{ chain_path }}"
fi
{% endif %}

{% endfor %}
exit $global_exit
